/* HEADER */
header {
    background-color: rgb(189, 188, 188);
    line-height: normal;
    text-align: right;
    transform: translateZ(0);
    vertical-align: middle;
    max-width: 100%;
    z-index: 3;
    text-decoration: none;
    padding: 55px;
    margin: 0%;
}

nav {
    font-family: 'Anton',sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    
}

ul {
    list-style-type: none;
}


/* BODY */

body {
    background-color: rgb(127, 255, 255);
}

/* POSTS */

.feed {
    background-color: #8FBFD7;
    min-width: 100%;
    text-align: center;
}

.feed img {
    max-width: 40rem;
    border: 10px solid white;
}

/* SLIDE-SHOP-BAR */

.featured {
    display: block;
    background-color: #fff;
    list-style: none;
    margin-top: 4rem;
}

.slide-bar {
    display: block;
}



/* FOOTER */